<div id="main-wrapper">
    <div class="container">
        <h1 id="titulo">SUSTENTACIÓN</h1>
        <p id="sustInfo">A continuación encontrara la información detallada de la sustentación de su proyecto de grado:</p>

        <div id="descripcion">
            <a>
                <img src="assets/svg/calendar-b.svg"> Fecha :<br>
                <img src="assets/svg/clock-b.svg"> Hora :<br>
                <img src="assets/svg/ubicacion-b.svg"> Lugar : <br>
                <img src="assets/svg/jurado-b.svg"> Jurado asignado :<br>
            </a>
            <div id="jurados">
                <a>
                    <img src="assets/svg/fiber-b.svg"> jurado 1<br>
                    <img src="assets/svg/fiber-b.svg"> jurado 2<br>
                    <img src="assets/svg/fiber-b.svg"> jurado 3<br>
                </a>

            </div>

        </div>




        <div class="container-fluid"></div>



    </div>